server/dist
server/node_modules
server/build
server/prisma/client
server/prisma/migrations

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

configs/*.env
!configs/.example.env